@charset "utf-8";


/*  GESAMTES DOKUMENT  */


* {
margin:0;
/* padding:0; */
-moz-box-sizing:border-box;
-webkit-box-sizing:border-box;
box-sizing:border-box;
overflow-wrap:break-word;
word-wrap:break-word;
}
*:not(ul) {padding:0;}

html {
width:100%;
height:100%;
scroll-behavior:smooth;
}

body {
display:table;
table-layout:fixed;
position:fixed;
width:100%;
height:100%;
font-family:Verdana,Arial,sans-serif;
font-size:1.125rem;
background-color:rgb(254,254,254);
color:rgb(0,0,219);
}

/* Table-Rows */
/* top-nav kommt einmal im header - fuer Tablet- und Desktopansicht, und einmal im footer - fuer Smartphoneansicht vor. Wuerde man sie verschieben. */
#skiplink_zum_seiteninhalt,
header,
main,
footer {
display:table-row;
position:relative;
}

/* Eigenschaften der einzelnen Table-Rows */
#skiplink_zum_seiteninhalt a > div {position:absolute;width:100%;z-index:-2;opacity:0;}
#skiplink_zum_seiteninhalt .maximal_1200_breit {background-color:rgb(255,230,236);padding:0.4375rem;}
#skiplink_zum_seiteninhalt span {display:block;width:100%;background:rgb(254,254,254);border:0.1875rem solid deepskyblue;padding:0.3125rem;text-align:center;text-decoration:underline;}
#skiplink_zum_seiteninhalt a:focus > div, #skiplink_zum_seiteninhalt a:active > div {z-index:7;opacity:1;}
header {width:100%;text-align:center;z-index:2;}
@media only screen and (max-width: 37.499em) {header {position:absolute;bottom:0;}}
#platzhalter {width:100%;text-align:center; /* position:relative;top:50px; */}
main {width:100%;height:100%;}
footer {width:100%;height:4.0625rem;bottom:0;} /* Platzhalter fuer "top-nav" unten fuer Smartphoneansicht */
/* Footer nach unten */

/* Rahmen innerhalb der Table-Rows */
.rahmen_fuer_scrollbalken {width:100%;overflow-y:auto;}
.relativrahmen_fuer_main {position:relative;width:100%;height:100%;}
.absolutrahmen_fuer_main {position:absolute;width:100%;height:100%;}
@media only screen and (min-width: 75em) {.rahmen_fuer_scrollbalken {overflow-y:scroll !important;}}
/* Normalerweise gehoert in Smartphoneansicht Menu nach unten. Aber da "Wolken" daher -> oben. Daher deaktiviert.
Auch der Platzhalter im  <footer>  (siehe fuss.inc.php) wurde deaktiviert.
@media only screen and (max-width: 37.499em) {header {position:fixed;bottom:0;}}
*/

.maximal_1200_breit {width:100%;max-width:75rem;margin:0 auto;}

/* Hintergrundfarbe */
header .maximal_1200_breit, footer {background-color:deepskyblue;}
.untermenue .maximal_1200_breit {background-color:rgb(0,228,255);}
@media only screen and (max-width: 37.499em) {
  .untermenue {background-color:rgb(0,228,255);} /* skyblue */
  .untermenuepunkt a, .untermenuepunkt .view {width:100%;}
  #flagge_sprachen_liste .untermenuepunkt a {width:50%;}
}
@media only screen and (min-width: 37.5em) {
  #flagge_sprachen_liste .untermenuepunkt a {min-width:9.375rem;}
}

#top-nav, #main-nav {position:relative;display:inline-block;margin:0 auto; /* border-bottom:0.1875rem solid deepskyblue; */ text-align:center;}
#top-nav {border-top:0.1875rem solid deepskyblue;}
#main-nav {position:fixed;left:0;right:0;width:100%;top:4.0625rem;z-index:2;}






/*  MENUE  */

/* TOPMENUE, HAUPTMENUE, UNTERMENUE */

/* Mauszeiger wird zur Hand */
header label:hover  {cursor:pointer;}

/* Position Untermenue */
.untermenue {display:none;top:4.0625rem;}
#main-nav .untermenue {top:7.9375rem;}
@media only screen and (max-width: 37.499em) {.untermenue {top:0;bottom:4.0625rem;/*bottom:0;*/}}

/* Gesamter einzelner Button - alle Menue-Buttons */
.hauptmenuepunkt, .untermenuepunkt {display:inline;height:3.6875rem;}

/* Einzelne Buttons */
#dreipunkt_button {border:none;background-image:url('../global/bilder/dreipunkt_burgerbutton.png');-moz-background-size:100% 100%;-webkit-background-size:100% 100%;background-size:100% 100%;float:right /* left */;}
#aktuelles_datum {display:inline-block;margin:0.625rem 0 0 0;vertical-align:middle;line-height:111.11111%;float:left;}

/* Input - Radio und Checkboxen */
input {position:absolute;z-index:-2;opacity:0;}

/* Links und aufklappbare Buttons */
header a,
header  .aufklapp_button,
#platzhalter > div > div {
height:3.6875rem;
display:inline-block;
/* margin: 0.0625rem 0 0.25rem 0; */
margin-bottom:0.1875rem;
background:url('../global/bilder/wolke/main/wolke_links_weiss.png') left no-repeat, url('../global/bilder/wolke/main/wolke_rechts_weiss.png') right no-repeat, url('../global/bilder/wolke/main/wolke_mitte_weiss.png') repeat;
background:url('../global/bilder/wolke/main/wolke_links_weiss.png') left/1.75rem 3.4375rem no-repeat, url('../global/bilder/wolke/main/wolke_rechts_weiss.png') right/1.75rem 3.4375rem no-repeat, url('../global/bilder/wolke/main/wolke_mitte_weiss.png') left center/0.0625rem 3.4375rem repeat;
border:0.125rem solid deepskyblue;
}
header a {text-decoration:none;}
header .aufklapp_button {position:relative;}
.untermenue a {
border:0.125rem solid rgb(0,228,255);
background:url('../global/bilder/wolke/sub/wolke_links_weiss.png') left no-repeat, url('../global/bilder/wolke/sub/wolke_rechts_weiss.png') right no-repeat, url('../global/bilder/wolke/sub/wolke_mitte_weiss.png') repeat;
background:url('../global/bilder/wolke/sub/wolke_links_weiss.png') left/1.75rem 3.4375rem no-repeat, url('../global/bilder/wolke/sub/wolke_rechts_weiss.png') right/1.75rem 3.4375rem no-repeat, url('../global/bilder/wolke/sub/wolke_mitte_weiss.png') left center/0.0625rem 3.4375rem repeat;
}

/* Labels */
header label {width:100%;height:100%;left:0;top:0;}
header label.label_auf, header label.label_zu {position:absolute;}
header label.label_checkbox {position:relative;}
header label.label_zu {display:none;}

/* Spalt zwischen Aufklapp-Button und Untermenue */
/* .spalt {display:none;} */

/* Inhalte (span - view) innerhalb von Links und Labels */
.view {display:inline-block;padding:0.9375rem 1.1875rem 0.1875rem 1.1875rem;height:3.4375rem; /* height:3.6875rem; */ min-width:3.4375rem;vertical-align:middle;}
header a .view {text-decoration:underline;}
#startseite_als_haus_button .view {padding:0.9375rem 1.125rem 0.0625rem 1.125rem;}
#dreipunkt_button .aufklapp_button .view {padding:1.875rem 1.4375rem 0.4375rem 1.4375rem;}
#flagge_button .view {padding:0.9375rem 1.125rem 0.0625rem 1.1875rem;}

/* Einzelne Elemente */
.dreieck {display:block;float:right;width:0.5625rem;height:0.5625rem;margin:0.5rem 0 0.4375rem 0.375rem;border:none;}
.sprachauswahl_trennlinie {margin:0.5rem 0;width:100%;border-style:solid;border-width:1px;border-color:rgb(0,117,156) rgb(158,230,255) rgb(158,230,255) rgb(0,117,156);}

/* aktuell aktive Seite */
.aktive_seite {
/*
background-color:rgb(255,174,230);
border-color:rgb(255,235,249) rgb(255,139,245) rgb(255,139,245) rgb(255,240,219);
*/
}

/* Label-Folien - "durchsichtig" */
header .label_zu img, header label.label_auf img {position:absolute;left:0;top:0;width:100%;height:100%;opacity:0;}
header .label_zu img {z-index:3;}
header .label_auf img {z-index:2;}






/* FOCUS, HOVER, CHECKED */

/* Spalt zwischen aufklappbarem Menu-Button und dessen Submenu */
header .spalt {
display:none;
position:absolute;
width:100%;
height:0.3125rem;
background-color:deepskyblue;
margin:0;
border:none;
}
@media only screen and (max-width: 37.499em) {header .spalt {top:-0.3125rem;}}
@media only screen and (min-width: 37.5em) {header .spalt {bottom:-0.3125rem;}}





/* FOCUS */

/* nur mit Tab-Taste */

/* Focus-outline-Rahmen um Buttons */
header a:focus,
/* header #aktuelles_datum:focus, */
header input[type=checkbox]:focus ~ .aufklapp_button {border:0.125rem solid rgb(0,0,236) !important;}
/* Spalt wenn Focus drauf, um 2 Pixel Breite des Rahmens nach unten versetzen in der Tablet-Desktop-Ansicht, nach oben in der Smartphoneansicht */
header input[type=checkbox]:focus ~ .aufklapp_button .spalt {display:block;height:0.1875rem;}





/* CHECKED, HOVER */

/* Untermenue Sprachenliste wie bei Facebook gegliedert */
@media only screen and (min-width: 37.5em) {
  #flagge_sprachen_liste .maximal_1200_breit {
    background:rgb(254,254,254);
	border:0.1875rem solid rgb(0,228,255);
	padding:0.3125rem 0 0.375rem 0;
    -moz-column-width:12.375rem;-webkit-column-width:12.375rem;column-width:12.375rem;
    -moz-column-gap:0;-webkit-column-gap:0;column-gap:0;
  }
  #flagge_sprachen_liste a {margin:0;background:rgb(254,254,254);height:2.3125rem;border:0.125rem solid rgb(254,254,254);}
  #flagge_sprachen_liste a .view {width:100%;height:2.0625rem;line-height:2.0625rem;text-decoration:none;padding:0;}
}






/* CHECKED */

/* Schliessen-Buttons anzeigen */
input#radio_button_1_auf:checked ~ span #label_button_1_zu,
input#radio_dreipunkt_button_auf:checked ~ span #label_dreipunkt_button_zu,
input#radio_originalseiten_button_auf:checked ~ span #label_originalseiten_button_zu,
input#radio_flagge_button_auf:checked ~ span #label_flagge_button_zu {
display:block;
}

/* Gestaltung ge-'check'-ter Label-Buttons */
input[type=checkbox]:checked ~ .aufklapp_button,
input.radio_auf:checked ~ .aufklapp_button {
border:0.125rem solid deepskyblue;
}
@media only screen and (max-width: 37.499em) {
  input[type=checkbox]:checked ~ .aufklapp_button,
  input.radio_auf:checked ~ .aufklapp_button {
  background:url('../global/bilder/wolke/main_checked/smartphoneansicht/wolke_links_weiss.png') left no-repeat, url('../global/bilder/wolke/main_checked/smartphoneansicht/wolke_rechts_weiss.png') right no-repeat, url('../global/bilder/wolke/main_checked/smartphoneansicht/wolke_mitte_weiss.png') repeat;
  background:url('../global/bilder/wolke/main_checked/smartphoneansicht/wolke_links_weiss.png') left/1.75rem 3.4375rem no-repeat, url('../global/bilder/wolke/main_checked/smartphoneansicht/wolke_rechts_weiss.png') right/1.75rem 3.4375rem no-repeat, url('../global/bilder/wolke/main_checked/smartphoneansicht/wolke_mitte_weiss.png') left center/0.0625rem 3.4375rem repeat;
  }
}
@media only screen and (min-width: 37.5em) {
  input[type=checkbox]:checked ~ .aufklapp_button,
  input.radio_auf:checked ~ .aufklapp_button {
    background:url('../global/bilder/wolke/main_checked/wolke_links_weiss.png') left no-repeat, url('../global/bilder/wolke/main_checked/wolke_rechts_weiss.png') right no-repeat, url('../global/bilder/wolke/main_checked/wolke_mitte_weiss.png') repeat;
    background:url('../global/bilder/wolke/main_checked/wolke_links_weiss.png') left/1.75rem 3.4375rem no-repeat, url('../global/bilder/wolke/main_checked/wolke_rechts_weiss.png') right/1.75rem 3.4375rem no-repeat, url('../global/bilder/wolke/main_checked/wolke_mitte_weiss.png') left center/0.0625rem 3.4375rem repeat;
  }
}
input[type=checkbox]:checked ~ .aufklapp_button .spalt, input.radio_auf:checked ~ .aufklapp_button .spalt {display:block;background-color:rgb(0,228,255);}
/**/
input[type=checkbox]:checked ~ .aufklapp_button .dreieck,
input.radio_auf:checked ~ .aufklapp_button .dreieck {
-moz-transform:rotate(180deg);
-ms-transform:rotate(180deg);
-o-transform:rotate(180deg);
-webkit-transform:rotate(180deg);
transform:rotate(180deg);
}
/**/

/* Untermenue anzeigen */
input[type=checkbox]:checked ~ .untermenue,
input.radio_auf:checked ~ .untermenue {
display:block;
position:fixed;
left:0;
right:0;
z-index:5;
}






/* HOVER */

/* In der Smartphoneansicht darf KEIN 'hover'-Effekt auftreten, da sonst Mauszeiger nicht 'ent'-hoverbar. Wg. Platzmangel. *Ueberall* ist Untermenue. */
@media only screen and (min-width: 37.5em) {
  /* Wolken-Einfaerbung */
  header a:hover {
    background:url('../global/bilder/wolke/main/wolke_links_rosa.png') left no-repeat, url('../global/bilder/wolke/main/wolke_rechts_rosa.png') right no-repeat, url('../global/bilder/wolke/main/wolke_mitte_rosa.png') repeat;
    background:url('../global/bilder/wolke/main/wolke_links_rosa.png') left/1.75rem 3.4375rem no-repeat, url('../global/bilder/wolke/main/wolke_rechts_rosa.png') right/1.75rem 3.4375rem no-repeat, url('../global/bilder/wolke/main/wolke_mitte_rosa.png') left center/0.0625rem 3.4375rem repeat;
  }
  .hauptmenuepunkt:hover .aufklapp_button {
    background:url('../global/bilder/wolke/main_checked/wolke_links_weiss.png') left no-repeat, url('../global/bilder/wolke/main_checked/wolke_rechts_weiss.png') right no-repeat, url('../global/bilder/wolke/main_checked/wolke_mitte_weiss.png') repeat;
    background:url('../global/bilder/wolke/main_checked/wolke_links_weiss.png') left/1.75rem 3.4375rem no-repeat, url('../global/bilder/wolke/main_checked/wolke_rechts_weiss.png') right/1.75rem 3.4375rem no-repeat, url('../global/bilder/wolke/main_checked/wolke_mitte_weiss.png') left center/0.0625rem 3.4375rem repeat;
    border:0.125rem solid deepskyblue;
  }
  header .hauptmenuepunkt .aufklapp_button:hover {
    background:url('../global/bilder/wolke/main_checked/wolke_links_rosa.png') left no-repeat, url('../global/bilder/wolke/main_checked/wolke_rechts_rosa.png') right no-repeat, url('../global/bilder/wolke/main_checked/wolke_mitte_rosa.png') repeat;
    background:url('../global/bilder/wolke/main_checked/wolke_links_rosa.png') left/1.75rem 3.4375rem no-repeat, url('../global/bilder/wolke/main_checked/wolke_rechts_rosa.png') right/1.75rem 3.4375rem no-repeat, url('../global/bilder/wolke/main_checked/wolke_mitte_rosa.png') left center/0.0625rem 3.4375rem repeat;
  }
  .untermenue a:hover {
    background:url('../global/bilder/wolke/sub/wolke_links_rosa.png') left no-repeat, url('../global/bilder/wolke/sub/wolke_rechts_rosa.png') right no-repeat, url('../global/bilder/wolke/sub/wolke_mitte_rosa.png') repeat;
    background:url('../global/bilder/wolke/sub/wolke_links_rosa.png') left/1.75rem 3.4375rem no-repeat, url('../global/bilder/wolke/sub/wolke_rechts_rosa.png') right/1.75rem 3.4375rem no-repeat, url('../global/bilder/wolke/sub/wolke_mitte_rosa.png') left center/0.0625rem 3.4375rem repeat;
  }
  .hauptmenuepunkt:hover .aufklapp_button .spalt {display:block;background-color:rgb(0,228,255);}
  .hauptmenuepunkt:hover .untermenue {display:block;position:fixed;left:0;right:0;z-index:5;}
}




/*  UEBERSCHRIFTEN, ABSAETZE  */


h1, h2, .zentriert {text-align:center;}
h1 {font-size:1.5625rem; /* letter-spacing:0.00375rem; */ margin:0.3125rem 0 0.4375rem;}
h2 {font-size:1.3125rem; /* letter-spacing:0.04167rem; */ margin:0.25rem 0 0.3125rem;}
p  {font-size:1.1250rem; /* letter-spacing:-0.00625rem; */ margin-left:3.3334%;margin-right:3.3334%;line-height:1.83rem;}

.hauptbild {margin:1.3125rem 0 1.1875rem;}




/*  FARBEN  */

.hellrot, .einfacher_link  {background-color:rgb(255,221,231);} /* rosa wenn rahmenlos */
.hellgelb {background-color:rgb(244,255,151);}
.hellblau {background-color:rgb(204,250,250);} /* tuerkis */
.rot {color:rgb(215,4,4);}
.violett, .themensammlungstabelle td {color:rgb(137,1,212);}
.blau {color:rgb(0,0,219);}
hr {color:deepskyblue;}




/*  SLIDER  */

img.slider {
  position:absolute;
  animation-name:fader;
  animation-duration:60s;
  animation-iteration-count:infinite;
  width:100%;
  max-width:1200px;
}

@keyframes fader {
  0% {opacity:1;}
  18% {opacity:1;}
  25% {opacity:0;}
  93% {opacity:0;}
  100% {opacity:1;}
}

img.slider:nth-of-type(1) { animation-delay:45s;}
img.slider:nth-of-type(2) { animation-delay:30s;}
img.slider:nth-of-type(3) { animation-delay:15s;}
img.slider:nth-of-type(4) { animation-delay:0s;}
img.platzhalter_bild { position:static;max-width:1200px; }




/*  BILDER AUTOMATISCH ZENTRIEREN  */


img {
width:100%;
float:left;
height:auto;
}
.div_um_bild {
max-width:100%;
margin:0 auto;
}
.div_um_bild::after {
content:"";
clear:both;
display:table;
}




/*  TABELLEN  */


table, th, td {
border-style:solid;
border-color:rgb(208,232,251);
border-spacing:0;
}
table {
width:100%;
border-width:0 0.125rem 0.25rem;
}
th, td {
border-width:0.25rem 0.125rem 0;
}
th {
background-color:rgb(244,255,151);
padding:0.5rem;
font-size:1.1875rem;
text-align:center;
}
td {
background-color:rgb(255,230,236); /* rosa wenn umrahmt */
padding:0.625rem /* 0.625rem 0.625rem 0.8125rem */ ;                                  /* ******************************************** */
}
.wichtige_botschaft {
background-color:rgb(139,251,248);
} /* etwas dunkleres hellblau */

.vertonungstabelle td:first-child /* ,
.vertonungstabelle td:last-child */ {
width:2.5rem;
padding:0;
}
/* Fuer Icon in Desktop-Ansicht */
@media only screen and (max-width: 37.499em) {
  .vertonungstabelle td:last-child img {display:none;}
}
@media only screen and (min-width: 37.5em) {
  /* .vertonungstabelle tr {padding:0;} */
  /* .vertonungstabelle td:first-child {display:none;} */
  .vertonungstabelle td:last-child  {padding:0;}
  .vertonungstabelle td:last-child img {width:2.5rem;display:inline;float:none;vertical-align:middle;}
  .vertonungstabelle td:last-child a {display:inline-block;margin:0.625rem;}
}


.themensammlungstabelle td {
text-align:center;
padding:0.625rem 0.625rem 0.625rem 0; /* eigentlich rundum Wert "0.625rem", aber da - .themensammlungstabelle ul - list-style-type:disc ... */
}
.themensammlungstabelle ul {
text-align:left;
margin:0.375rem 0 0.1875rem 0; /* margin:0.4375rem 0 0.0625rem 0; <- eigentlich DIESE Werte, aber da - .themensammlungstabelle li - font-size:17px ... */
}
.themensammlungstabelle li {
font-size:1.0625rem;
margin:0.125rem 0;
line-height:1.4375rem;
}




.footer_message {background:rgb(0,228,255); /* deepskyblue */ padding:0 0.625rem;text-align:center;}

.footer_message > div.div_padding {padding:0.9375rem;}

.footer_message > div span {position:relative;display:inline-block;vertical-align:middle;}

.footer_message label:hover {cursor:pointer;}

.footer_message .inhalt1, .footer_message .inhalt2 {
  background:rgb(127,255,255); /* rgb(0,228,255); */
  border:2px solid rgb(0,0,219);
  display:none;
  padding:0.625rem;
}

.footer_message input#info1:checked ~ div.inhalt1, input#info2:checked ~ div.inhalt2 {
  display:block;
}

.footer_message input#info1:checked ~ div img.dreieck, input#info2:checked ~ div img.dreieck {
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  -o-transform:rotate(180deg);
  -webkit-transform:rotate(180deg);
  transform:rotate(180deg);
}

.footer_message div.info, .footer_message div.datenschutz {display:none;}

.footer_message input#info1:checked ~ div.info, input#info2:checked ~ div.datenschutz {
  display:block;
  width:100%;
  max-width:1200px;
  height:0.625rem;
  background:rgb(0,228,255); /* deepskyblue; */
  padding:0;
}




/* elektronischer Brief */
.brief {text-align:center;}
.brief span:nth-child(odd) {display:none;}




/*  EINZELELEMENTE  */


main a {display:inline-block;}

.einfacher_link {text-align:center;padding:0.875rem;}

#neueste_botschaft {position:absolute;margin-top:-10.5rem;}




/*  MEDIA QUERIES - AUFLOESUNGEN  */


/* Alle Ansichten */
.text {background-color:rgb(253,238,180);padding:1.375rem 1.875% 1.3125rem;}

/* Ansicht Smartphone */
@media only screen and (max-width: 37.499em) {
  .ansicht_tablet_desktop {display:none !important;}
  .ansicht_tablet {display:none !important;}
}
/* Ansicht Smartphone und Tablet */
@media only screen and (max-width:74.999em) {
  .ansicht_desktop {display:none !important;}
}
/* Ansicht Tablet */
@media only screen and (min-width: 37.5em) and (max-width:74.999em) {
}
/* Ansicht Tablet und Desktop */
@media only screen and (min-width: 37.5em) {
  .ansicht_smartphone {display:none !important;}
  p {margin-left:1.65%;margin-right:1.65%;}
  .text {padding:1.5625rem 1.75% 1.375rem;}
}
/* Ansicht Desktop */
@media only screen and (min-width: 75em) {
  .ansicht_tablet {display:none !important;}
  .ansicht_smartphone_tablet {display:none !important;}
}




/* PLATZHALTER */

/* Platzhalter-Content - nur Main-Nav (2. Zeile) - (ausgelagert in CSS) fuer reine Textbrowser (nicht sichtbar) */